body{
  background:
    linear-gradient(
      90deg,
      rgba(107, 121, 204, 0.62),
      rgba(134, 163, 224, 0.4)
    ),
    url("../../assets/background-home.jpeg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navbar{
  filter: opacity(80%);
}

.navbar-brand{
 margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-country{
  padding-left: 5px;
  filter: opacity(93%);
  height: 40px;
  border: none;
  border-radius: 5px;
  width: 400px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-location{
  position: absolute;
  top: 35%;
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
}

.button-search{
  border-radius: 6px;
  background-color: #246edb;
  border: none;
  color: white;
  text-align: center;
  font-size: 19px;
  width:  140px;
  height: 46px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 57%;
  filter: opacity(90%);
}

.button-search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-search span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button-search:hover span{
  padding-right: 25px;
}

.button-search:hover span:after{
  opacity: 1;
  right: 0;

}

.button-search:hover {
  background-color: #8392ff;
  transition: 0.8s;
}



