body{
  background:
    linear-gradient(
      90deg,
      rgba(107, 121, 204, 0.62),
      rgba(134, 163, 224, 0.4)
    ),
    url("../../assets/background-home.jpeg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navbar{
  filter: opacity(80%);
}

.navbar-brand{
 margin-left: auto;
  margin-right: auto;
  font-family: 'Rock Salt', cursive;
  font-size: 21px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  position: absolute;
  text-align: center;
  font-size: 50px;
  top: 17%;
  color: white;
  font-family: 'Cinzel', serif;
}

.img-location{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  width: 68px; height: 70px;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.input-country{
  padding-left: 5px;
  filter: opacity(93%);
  height: 40px;
  border: none;
  border-radius: 5px;
  width: 400px;

  position: absolute;
  top: 53%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Cairo', sans-serif;
  color: #4b4b4b;
  font-size: 18px;
}


.button-search{
  border-radius: 6px;
  background-color: #246edb;
  border: none;
  color: white;
  text-align: center;
  font-size: 19px;
  width:  140px;
  height: 46px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 60%;
  filter: opacity(90%);
  font-family: 'Cairo', sans-serif;
}

.button-search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-search span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button-search:hover span{
  padding-right: 25px;
}

.button-search:hover span:after{
  opacity: 1;
  right: 0;

}

.button-search:hover {
  background-color: #6985ff;
  transition: 0.8s;
}



@media only screen and (max-width: 750px) {
  .title{
    font-size: 35px;
  }

}

@media only screen and (max-width: 500px){
  .input-country{
    width: 280px;
  }
  .button-search{
    width:  120px;
    height: 42px;
  }
}

@media only screen and (max-width: 380px){
  .title{
    font-size: 25px;
  }
  .img-location{
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 52px;
  }

  .button-search{
    width:  110px;
    height: 42px;
    font-size: 18px;
  }

  .input-country{
    width: 250px;
    height: 35px;
  }
}
